In [1]:
import json

In [2]:
import json

# 源 JSON 文件路径
source_file_path = "/home/jyw/Projects/CHESS/post_process/data/mac-sql/predict_dev.json"

# 目标文本文件路径
output_file_path = source_file_path.replace('.json', '.txt')

# 读取源 JSON 文件
with open(source_file_path, 'r') as source_file:
    data = json.load(source_file)

In [3]:
# 原始问题的idx 515和683不存在
# 514 (515) 516 --> idx = 515 copy
# 682 (683) 684 --> idx = 683 copy
mac_sql_list = []
for idx, (q, sql) in enumerate(data):
    if idx == 515 or idx == 682:
        mac_sql_list.append("SELECT 1")
        mac_sql_list.append(sql.split('\t')[0])
    else:
        mac_sql_list.append(sql.split('\t')[0])

In [4]:
len(mac_sql_list)

1534

In [5]:
# 目标文本文件路径
output_file_path = source_file_path.replace('.json', '.txt')

with open(output_file_path, 'w') as output_file:
    for sql in mac_sql_list:
        output_file.write(sql + '\n')

In [6]:
import json

# 源 JSON 文件路径
source_file_path = "/home/jyw/Projects/CHESS/post_process/data/mac-sql/output_bird.json"

# 目标文本文件路径
output_file_path = source_file_path.replace('.json', '.txt')


# 读取 JSON 文件
with open(source_file_path, 'r', encoding='utf-8') as file:
    data = file.readlines()

In [7]:
idx_list = []
for d in data:
    idx_list.append(int(d.split(',')[0].split(':')[-1]))

In [8]:
len(idx_list)

1532

In [9]:
for i in range(0, 1533):
    if i not in idx_list:
        print(i)

515
683

In [10]:
import json

# 源 JSON 文件路径
source_file_path = "/home/jyw/Projects/CHESS/post_process/data/mac-sql/output_bird.json"

# 目标文本文件路径
output_file_path = source_file_path.replace('.json', '.txt')

# 读取源 JSON 文件
with open(source_file_path, 'r') as source_file:
    data = source_file.readlines()

In [11]:
data_dict_list = []
for line in data:
    # print(line)
    # print(json.loads(line))
    try:
        data_dict_list.append(json.loads(line))
    except:
        print(line)

{"idx": 78, "db_id": "california_schools", "query": "What is the most common type of grade span served in the city of Adelanto?", "evidence": "", "extracted_schema": {"frpm": "drop_all", "satscores": "drop_all", "schools": ["City", "GSserved", "School", "District", "County", "StatusType"]}, "ground_truth": "SELECT GSserved FROM schools WHERE City = 'Adelanto' GROUP BY GSserved ORDER BY COUNT(GSserved) DESC LIMIT 1", "difficulty": "simple", "chosen_db_schem_dict": {"frpm": ["CDSCode", "Academic Year", "County Code", "District Code", "School Code", "County Name"], "satscores": ["cds", "rtype", "sname", "dname", "cname", "enroll12"], "schools": ["CDSCode", "StatusType", "County", "District", "School", "City", "GSserved"]}, "pruned": true, "final_sql": "SELECT T3.`GSserved`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n  GROUP BY T3.`GSserved`\n  ORDER BY COUNT(*) DESC\n  LIMIT 1", "qa_pairs": "To answer the question \"What is the most common type of grade span served in the city of Adelanto?\", we need to break it down into sub-questions and generate the corresponding SQL queries step by step.\n\n### Sub-question 1: Get the grade spans served by schools in the city of Adelanto.\nSQL\n```sql\nSELECT T3.`GSserved`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n```\n\n### Sub-question 2: Count the occurrences of each grade span served in the city of Adelanto.\nSQL\n```sql\nSELECT T3.`GSserved`, COUNT(*) AS `count`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n  GROUP BY T3.`GSserved`\n```\n\n### Sub-question 3: Find the most common grade span served in the city of Adelanto.\nSQL\n```sql\nSELECT T3.`GSserved`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n  GROUP BY T3.`GSserved`\n  ORDER BY COUNT(*) DESC\n  LIMIT 1\n```\n\n### Final SQL Query\nCombining the steps, the final SQL query to find the most common type of grade span served in the city of Adelanto is:\n```sql\nSELECT T3.`GSserved`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n  GROUP BY T3.`GSserved`\n  ORDER BY COUNT(*) DESC\n  LIMIT 1\n```\n\n### Question Solved.", "fixed": false, "try_times": 1, "pred": "SELECT T3.`GSserved`\n  FROM schools AS T3\n  WHERE T3.`City` = 'Adelanto'\n  GROUP BY T3.`GSserved`\n  ORDER BY COUNT(*) DESC\n  LIMIT 1"},

In [27]:
def sql_normal(str):
    str = str.replace('\n', '')
    str = str.replace('\t', ' ')
    str = str.replace('  ', ' ')
    return str

In [28]:
data_final = []
for data_dict in data_dict_list:
    
    data_final.append(sql_normal(data_dict['final_sql']))
    # 补全
    if(data_dict['idx']==77):
        data_final.append("SELECT T3.`GSserved` FROM schools AS T3 WHERE T3.`City` = 'Adelanto' GROUP BY T3.`GSserved` ORDER BY COUNT(*) DESC LIMIT 1")
    if(data_dict['idx']==514 or data_dict['idx']==682):
        data_final.append("SELECT 1")

In [29]:
len(data_final)

1534

In [30]:
target_file_path = "/home/jyw/Projects/CHESS/post_process/data/mac-sql/output_bird.txt"
with open(target_file_path, 'w') as target_file:
    for sql in data_final:
        target_file.write(sql + '\n')